@{
  ViewBag.Title = "Página Principal";
}
<script src="~/Scripts/jquery-1.9.1.js"></script>

<div class="jumbotron">
  <h1>Portal da DSE -Monitorização </h1>
  <p class="lead">Gestão de Conteudos da Monitorização</p>
</div>

<div class="row">
<div class="col-md-8">
  <h2>Bem vindo ao Portal</h2>
  <p>
      Neste portal poderá realizar as seguintes operações: <br>
      - Gestão de Contactos das Notificações enviadas pelo PRTG (Email e SMS);<br>
      - Execução de Scripts Powershell (Reports) do PRTG;<br>
      - Processamento de Informação Mensal para o IT Dashboard;<br>
      - Acesso a Documentação (Manuais, Normas, Relatórios e Procedimentos) vigentes na Monitorização;<br>
      - Acesso aos Dashboards de Monitorização da Infra-estrutura IT;
  </p>
</div>
</div>