@{
  ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
  <h1>Portal da DSE -Monitorização </h1>
</div>

<div class="row">
<div class="col-md-8">
  <h2>Bem vindo ao Portal</h2>
  <p>
      Neste portal poderá realizar as seguintes operações: <br>
      - Gestão de Contactos das Notificações enviadas pelo PRTG (Email e SMS);<br>
      - Envio de Notificações SMS e Email;<br>
      - Execução de Scripts Powershell (PRTG);<br>
      - Registo de Indisponibilidade dos Serviços Mobile Banking;<br>
      - Processamento de Informação Periódica para o IT Dashboard;<br>
      - Acesso a Documentação (Manuais, Normas, Relatórios e Procedimentos) vigentes na Monitorização;<br>
      - Acesso aos Dashboards de Monitorização da Infra-estrutura IT;
  </p>
</div>
</div>