<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net451" />
  <package id="bootstrap" version="3.4.0" targetFramework="net461" />
  <package id="bootstrap.less" version="3.3.7" targetFramework="net461" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.17.45" targetFramework="net471" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="4.17.45" targetFramework="net471" />
  <package id="ClosedXML" version="0.93.1" targetFramework="net461" />
  <package id="ClosedXML.Extensions.Mvc" version="0.2.2" targetFramework="net461" />
  <package id="Deploy" version="1.1.2" targetFramework="net471" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net461" />
  <package id="ELFinder.Connector" version="1.0.1" targetFramework="net471" />
  <package id="ELFinder.Connector.ASPNet" version="1.0.1" targetFramework="net471" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net461" />
  <package id="EPPlus.Extensions" version="2.0.1" targetFramework="net461" />
  <package id="EPPlus.Utils" version="1.0.5.8" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.4.2" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net471" />
  <package id="ExpertPdfHtmlToPdf" version="12.3.0" targetFramework="net461" />
  <package id="FastMember.Signed" version="1.4.1" targetFramework="net461" />
  <package id="FreeSpire.XLS" version="8.3.0" targetFramework="net461" />
  <package id="Galactic.ActiveDirectory" version="1.3.0.499" targetFramework="net471" />
  <package id="Galactic.Configuration" version="1.3.0.499" targetFramework="net471" />
  <package id="Galactic.Cryptography" version="1.3.0.499" targetFramework="net471" />
  <package id="Galactic.EventLog" version="1.3.0.499" targetFramework="net471" />
  <package id="Galactic.FileSystem" version="1.3.0.499" targetFramework="net471" />
  <package id="Galactic.LDAP" version="1.3.0.499" targetFramework="net471" />
  <package id="Galactic.PowerShell" version="1.3.0.499" targetFramework="net471" />
  <package id="gwdg.Ldap.dll" version="1.0.1" targetFramework="net471" />
  <package id="Harvest.Chosen" version="1.4.2" targetFramework="net471" />
  <package id="ImageProcessor" version="2.6.2.25" targetFramework="net471" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="itextsharp.xmlworker" version="5.5.13" targetFramework="net461" />
  <package id="jQuery" version="3.3.1" targetFramework="net471" />
  <package id="LinqToLdap" version="4.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.PowerShell.SDK" version="6.1.1" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Microsoft.Web.WebJobs.Publish.SatelliteAssemblyFix" version="1.0.3" targetFramework="net471" />
  <package id="Moment.js" version="2.22.2" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net461" />
  <package id="MvcRazorToPdf" version="1.0.2" targetFramework="net471" />
  <package id="Naos.External.MS-WinRM" version="1.0.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NPOI" version="2.4.0" targetFramework="net461" />
  <package id="NPOI.Extension" version="2.2.0" targetFramework="net471" />
  <package id="popper.js" version="1.14.0" targetFramework="net461" />
  <package id="PowerShell" version="1.0.0" targetFramework="net471" />
  <package id="PrototypeJS" version="1.7.1" targetFramework="net471" />
  <package id="PrtgAPI" version="0.9.3" targetFramework="net461" />
  <package id="RazorPDF2" version="2.0.0" targetFramework="net471" />
  <package id="Rotativa" version="1.7.3" targetFramework="net471" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net471" />
  <package id="Smartersoft.ExtendedPrincipals" version="1.0.0.3" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.DirectoryServices.AccountManagement" version="4.5.0" targetFramework="net471" />
  <package id="System.DirectoryServices.Linq" version="1.2.2.1" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net471" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net451" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System-Web-Helpers.dll" version="1.0.0" targetFramework="net471" />
  <package id="WebGrease" version="1.6.0" targetFramework="net471" />
  <package id="xlsConverter" version="1.0.0.7" targetFramework="net461" />
  <package id="XperiCode.Impersonator" version="1.0.0" targetFramework="net471" />
</packages>